<div class="frame" aria-hidden="true">
  <span class="frame__tick frame__tick--tl"></span>
  <span class="frame__tick frame__tick--tr"></span>
  <span class="frame__tick frame__tick--bl"></span>
  <span class="frame__tick frame__tick--br"></span>
  <span class="frame__label frame__label--tl">{{ .Site.Params.profile.coordinates | default "44°29′N · 11°20′E" }}</span>
  <span class="frame__label frame__label--tr">{{ .Site.Params.profile.established | default "Plate I" }}</span>
  <span class="frame__label frame__label--bl">{{ .Site.Params.profile.location | default "Bologna · Italia" }}</span>
  <span class="frame__label frame__label--br">ingmmo.com</span>
</div>
