<head>
  <title>ingmmo.com - Marco Montanari</title>

  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Spinnaker&display=swap" rel="stylesheet">
  <meta name="description" content="Personal website of Marco Montanari, Full Stack Developer, Open Data Evangelist, Data Wrangler - based in Italy."/>
	<meta name="keywords" content="Marco Montanari, developer, fullstack, frontend, backend, html, css, javascript, jquery, high quality, ajax, leaflet, openlayers, django, python, java"/>
	<meta name="author" content="Marco Montanari"/>
	
	<meta property="og:title" content="Marco Montanari - Full Stack Developer, Open Data Evangelist, Data Wrangler"/>
	<meta property="og:url" content="https://ingmmo.com/"/>
	<meta property="og:description" content="Personal website of Marco Montanari, Full Stack Developer, Open Data Evangelist, Data Wrangler, based in Italy."/>
	<meta property="og:type" content="website"/>
	<meta property="og:image" content="{{ .Site.Params.profile.photo | relURL }}"/>
	<!--[if lte IE 8]>
	    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.3/leaflet.ie.css" />
	<![endif]-->
	<link rel="profile" href="http://microformats.org/profile/hcalendar">
	<link rel="profile" href="http://microformats.org/profile/hcard">
  {{ partial "linkCSS" . }}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" 
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" 
        crossorigin="anonymous" 
        referrerpolicy="no-referrer" 
  />
  <link
    rel="stylesheet"
    href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css"
  />
	<!-- Matomo -->
<script type="text/javascript">
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//track.mousetracker.tech/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '4']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->
</head>
