<div class="support">
  <p class="support__line">If the open work here is useful to you, you can back it directly. GitHub Sponsors goes to all open-source efforts; Patreon supports Open Fantasy Maps specifically.</p>
  <div class="support__buttons">
    <iframe src="https://github.com/sponsors/sirmmo/button" title="Sponsor sirmmo on GitHub" height="35" width="116" style="border:0;"></iframe>
    <iframe src="https://www.patreon.com/platform/iframe?widget=become-patron-button&amp;redirectURI=https%3A%2F%2Fwww.ingmmo.com%2F&amp;creatorID=3201020&amp;openInNewTab=true" scrolling="no" allowtransparency="true" frameborder="0" class="patreon-widget" title="Become a Patron" style="visibility:visible; width:178px; height:36px;"></iframe>
  </div>
</div>
